@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Color Variables */
:root {
  /* Dark Theme */
  --background-primary-dark: #112132;
  --text-primary-dark: #fafafa;
  --btn-bg-primary-dark: #fafafa;
  --btn-bg-secondary-dark: transparent;
  --btn-text-primary-dark: #112132;
  --btn-text-secondary-dark: #fafafa;

  /* Light Theme */
  --background-primary-light: #fafafa;
  --text-primary-light: #112132;
  --btn-bg-primary-light: #112132;
  --btn-bg-secondary-light: transparent;
  --btn-text-primary-light: #fafafa;
  --btn-text-secondary-light: #112132;
}

body {
  margin: 0 5rem;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 576px) {
  body {
    margin: 0 0.5rem;
  }
}
